In [ ]:
# 1. Calculate the multiplication and sum of two numbers
# Given two integer numbers, return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

def multiply_or_add(num1,num2):
  product = num1 * num2

  if product >= 1000:
    return num1 + num2

  else:
    return product

result = multiply_or_add(20,30)
print('result is',result)
result = multiply_or_add(40,30)
print('result is',result)

result is 600
result is 70

In [ ]:
# 2.Print the sum of the current number and the previous number
# Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.
print('Printing current and previous number sum in a range(10)')
previous_number = 0

for i in range (0,10):
  sum = previous_number + i
  print('Currrent number ',i,'previous number ',previous_number,'Sum is:-',sum)
  previous_number = i

Printing current and previous number sum in a range(10)
Currrent number  0 previous number  0 Sum is:- 0
Currrent number  1 previous number  0 Sum is:- 1
Currrent number  2 previous number  1 Sum is:- 3
Currrent number  3 previous number  2 Sum is:- 5
Currrent number  4 previous number  3 Sum is:- 7
Currrent number  5 previous number  4 Sum is:- 9
Currrent number  6 previous number  5 Sum is:- 11
Currrent number  7 previous number  6 Sum is:- 13
Currrent number  8 previous number  7 Sum is:- 15
Currrent number  9 previous number  8 Sum is:- 17

In [ ]:
# 3: Print characters from a string that are present at an even index number
# Write a program to accept a string from the user and display characters that are present at an even index number.

s = input('Enter a string:-')
len(s)
for i in range (0,7,2):
  print(s[i])

Enter a string:-pynative
p
n
t
v

In [ ]:
# 4: Remove first n characters from a string
# Write a program to remove characters from a string starting from zero up to n and return a new string.

s = "pynative"
s[4:]

'tive'

In [ ]:
print('Remove first n characters from a string')

def remov_char(word,n):
  print('original:',word)
  x = word[n:]
  return x


print(remov_char("pynative",4))

Remove first n characters from a string
original: pynative
tive

In [ ]:
# 5: Check if the first and last number of a list is the same.
# Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

numb_x = [10, 20, 30, 40, 10]
numb_y = [75, 65, 35, 75, 30]

def same(x):
 first_num = x[0]
 last_num = x[-1]

 if first_num == last_num:
  return True
 else:
  return False



print('First list:-',numb_x)
print('second list:-',numb_y)
print('Result is:',same(numb_x))
print('Result is:',same(numb_y))

First list:- [10, 20, 30, 40, 10]
second list:- [75, 65, 35, 75, 30]
Result is: True
Result is: False

In [ ]:
# 6: Display numbers divisible by 5 from a list
# Iterate the given list of numbers and print only those numbers which are divisible by 5

x = [10, 20, 33, 46, 55]

for i in x:
  if (i%5 == 0):
    print(i)

print('Numbers divisible by 5:-',y)

10
20
55
Numbers divisible by 5:- [10, 20, 55]

In [ ]:
# 7: Return the count of a given substring from a string
# Write a program to find how many times substring “Emma” appears in the given string.

str_x = "Emma is good developer. Emma is a writer"

x = str_x.split()
print(x)
count = 0

for i in x:
  if i == 'Emma':
    count +=1

print('Emma appeared',count,'times in the list.')

['Emma', 'is', 'good', 'developer.', 'Emma', 'is', 'a', 'writer']
Emma appeared 2  times in the list.

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
print(str_x)
c = str_x.count('Emma')
print('Emma appeared',c,'times in the list.')

Emma is good developer. Emma is a writer
Emma appeared 2 times in the list.

In [ ]:
# 8. Print the following pattern
'''1
   2 2
   3 3 3
   4 4 4 4
   5 5 5 5 5
'''

for i in range(5):
  for num in range(i):
    print(i, end=' ')
  print('\n')

1

2 2

3 3 3

4 4 4 4

In [43]:
# 9: Check Palindrome Number
# Write a program to check if the given number is a palindrome number.
n = input('Enter a number:')
m = n[::-1]
if n==m:
  print(n,'is Palindrome.')
else:
  print(n,'is not Palindrome.')

Enter a number:522
522 is not Palindrome.

In [47]:
# 10: Create a new list from two list using the following condition.
# Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
odd = list(filter(lambda num : num%2 != 0,list1))
even = list(filter(lambda num : num%2 == 0,list2))
print(odd+even)

[25, 35, 40, 60, 90]

In [52]:
# 11: Write a Program to extract each digit from an integer in the reverse order.
# For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

x = 7536
print('Given number is:',x)

while x > 0:
  digit = x % 10
  x = x // 10
  print(digit,end=' ')

Given number is: 7536
6 3 5 7

In [ ]:
# 12: Calculate income tax for the given income by adhering to the rules below

In [63]:
# 13: Print multiplication table from 1 to 10

for i in range (1,11):
  for j in range (1,11):
    print(i*j, end = ' ' )
  print('\t\t')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [72]:
# 14.
''' * * * * *
    * * * *
    * * *
    * *
    *
      '''

for i in range(6,0,-1):
  for j in range(0,i-1):
    print('*',end = ' ')
  print('\n')

* * * * *

* * * *

* * *

* *

*

In [74]:
#  15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.
# Note here exp is a non-negative integer, and the base is an integer.

def exponent(base,exp):
  return (base ** exp)

print(exponent(5,4))

625