In [2]:
# 1: Create a function in Python

def first(name,age):
  print(name,age)


first('sneha',18)

sneha 18

In [6]:
#  2: Create a function with variable length of arguments

def func1(*n):
  #for i in n:
     print(n)

func1(20,40,60)
func1(10,30,50,70)

(20, 40, 60)
(10, 30, 50, 70)

In [8]:
# 3: Return multiple values from a function
def calculation(a, b):
    return a+b, a-b

add, sub = calculation(40, 10)
print(add,sub)

50 30

In [12]:
# 4. Write a program to create a function show_employee() using the following conditions.
   # It should accept the employeeâ€™s name and salary and display both.
   # If the salary is missing in the function call then assign default value 9000 to salary
def show_employee(name,salary=9000):
  print('name:',name,',salary:', salary)


show_employee("Ben", 12000)
show_employee("Jessa")

name: Ben ,salary: 12000
name: Jessa ,salary: 9000

In [14]:
# 5: Create an inner function to calculate the addition in the following way

def outer(a,b):

  def addition(a,b):
    return a+b

  result = addition(a,b)
  return result + 5

final = outer(5,10)
print(final)

20

In [16]:
# 6. create a recursive function to calculate the sum of numbers from 0 to 10.

# A recursive function is a function that calls itself again and again.
def addition(num):
  if num:
    return num + addition(num-1)
  else:
    return 0

res = addition(10)
print(res)

55

In [18]:
#  7: Assign a different name to function and call it through the new name
def display_student(name,age):
  print(name,age)

display_student('Emma',28)
display_tudent = display_student
display_tudent('Akshay',25)

Emma 28
Akshay 25

In [22]:
# 8.Generate a Python list of all the even numbers between 4 to 30

print(list(range(4,31,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [23]:
# 9: Find the largest item from a given list
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24