In [1]:
# 1.accept two numbers from the user and calculate multiplication

x1 = int(input('Enter 1st number:'))
x2 = int(input('Enter 2nd number:'))
print('Multiplication:',x1*x2)

Enter 1st number:5
Enter 2nd number:24
Multiplication: 120

In [2]:
# 2.print('Name', 'Is', 'James') will display Name**Is**James.

print('Name','Is','James', sep = '**')

Name**Is**James

In [3]:
# 3.Convert Decimal number to octal using print() output formatting

num = 8
print('%o'%num)

10

In [4]:
# 4.Display float number with 2 decimal places using print()

num = 458.541315
print('Float number=%.2f'%num)

Float number=458.54

In [7]:
# 5.Accept a list of 5 float numbers as an input from the user

num = []
for i in range(5):
  x = float(input('Enter a number:'))
  num.append(x)
print(num)

Enter a number:45
Enter a number:44
Enter a number:36
Enter a number:85
Enter a number:47
[45.0, 44.0, 36.0, 85.0, 47.0]

In [ ]:
# 6: Write all content of a given file into a new file by skipping line number 5.

# read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

In [12]:
# 7: Accept any three string from one input() call

str1,str2,str3 = input('Enter three names :').split()
print(str1)
print(str2)
print(str3)

Enter three names :jessa kelly jhon
jessa
kelly
jhon

In [13]:
# 8: Format variables using a string.format() method.

totalMoney = 1000
quantity = 3
price = 450
quantity = 3
totalMoney = 1000
price = 450
statement1 = "I have {1} dollars so I can buy {0} football for {2:.2f} dollars."
print(statement1.format(quantity, totalMoney, price))

I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [ ]:
# 9: Check file is empty or not
import os

size = os.stat("test.txt").st_size
if size == 0:
    print('file is empty')

In [ ]:
# 10: Read line number 4 from the following file

with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()
    # get line number 3
    print(lines[2])