In [ ]:
# 1: Create a list by picking an odd-index items from the first list and even index items from the second
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l1_odd = l1[1::2]
l2_even = l2[0::2]
l1_odd + l2_even

[6, 12, 18, 4, 12, 20, 28]

In [7]:
# 2.remove the item present at index 4 and add it to the 2nd position and at the end of the list.

list1 = [54, 44, 27, 79, 91, 41]
l1 = list1.pop(4)
print('List after removing item from index 4:',list1)
list1.insert(2,l1)
print('List after inserting it at 2nd position',list1)
list1.append(l1)
print('List after adding it at the end:',list1)

List after removing item from index 4: [54, 44, 27, 79, 41]
List after inserting it at 2nd position [54, 44, 91, 27, 79, 41]
List after adding it at the end: [54, 44, 91, 27, 79, 41, 91]

In [9]:
#  3: Slice list into 3 equal chunks and reverse each chunk

sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]
print('Original list:',sample_list)
length = len(sample_list)
chunk = int(length/3)
start = 0
end = chunk

for i in range(3):
  indexes = slice(start,end)
  list_chunk = sample_list[indexes]
  print('cunk',i,list_chunk)
  print('Reversed:',list(reversed(list_chunk)))
  start = end
  end += chunk

Original list: [11, 45, 8, 23, 14, 12, 78, 45, 89]
cunk 0 [11, 45, 8]
Reversed: [8, 45, 11]
cunk 1 [23, 14, 12]
Reversed: [12, 14, 23]
cunk 2 [78, 45, 89]
Reversed: [89, 45, 78]

In [10]:
# 4: Count the occurrence of each element from a list
list1 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print('List:',list1)
count = dict()
for i in list1:
  if i in count:
    count[i] += 1
  else:
    count[i] = 1
print('Count',count)

List: [11, 45, 8, 11, 23, 45, 23, 45, 89]
Count {11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [13]:
# 5: Create a Python set such that it shows the element from both lists in a pair

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

print('First:',first_list)
print('Second:',second_list)
new = zip(first_list,second_list)
res = set(new)
print(res)

First: [2, 3, 4, 5, 6, 7, 8]
Second: [4, 9, 16, 25, 36, 49, 64]
{(7, 49), (2, 4), (4, 16), (8, 64), (6, 36), (3, 9), (5, 25)}

In [17]:
# 6: Find the intersection (common) of two sets and remove those elements from the first set

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
s1 = first_set.intersection(second_set)
print('Common elements:',s1)
for i in s1:
   first_set.remove(i)
print(first_set)

Common elements: {57, 83, 29}
{65, 23, 42, 78}

In [18]:
# 7: Check if one set is a subset or superset of another set. If found, delete all elements from that set

first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

print("First Set ", first_set)
print("Second Set ", second_set)

print("First set is subset of second set -", first_set.issubset(second_set))
print("Second set is subset of First set - ", second_set.issubset(first_set))

print("First set is Super set of second set - ", first_set.issuperset(second_set))
print("Second set is Super set of First set - ", second_set.issuperset(first_set))

if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

print("First Set ", first_set)
print("Second Set ", second_set)

First Set  {27, 34, 43}
Second Set  {48, 34, 53, 22, 27, 43, 93}
First set is subset of second set - True
Second set is subset of First set -  False
First set is Super set of second set -  False
Second set is Super set of First set -  True
First Set  set()
Second Set  {48, 34, 53, 22, 27, 43, 93}

In [20]:
# 8: Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

print("List:", roll_number)
print("Dictionary:", sample_dict)

roll_number[:] = (i for i in roll_number if i in sample_dict.values())
print(roll_number)

List: [47, 64, 69, 37, 76, 83, 95, 97]
Dictionary: {'Jhon': 47, 'Emma': 69, 'Kelly': 76, 'Jason': 97}
[47, 69, 76, 97]

In [22]:
# 9: Get all values from the dictionary and add them to a list but don’t add duplicates

speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}
print('Values in dict:',speed.values())
res = list()
for val in speed.values():
  if val not in res:
    res.append(val)
print(res)

Values in dict: dict_values([47, 52, 47, 44, 52, 53, 54, 44, 54])
[47, 52, 44, 53, 54]

In [30]:
#  10: Remove duplicates from a list and create a tuple and find the minimum and maximum number

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]
print("Original list", sample_list)
s = list(set(sample_list))
print('Unique list:',s)
a = tuple(s)
print(a)
print('Min:',min(a))
print('Max:',max(a))

Original list [87, 45, 41, 65, 94, 41, 99, 94]
Unique list: [65, 99, 41, 45, 87, 94]
(65, 99, 41, 45, 87, 94)
Min: 41
Max: 99