In [1]:
# 1. Write a Python program to find the sum of all elements in a list.

list1 = [1, 2, 3, 4, 5]
print('Sum of all elements in list:',sum(list1))

Sum of all elements in list: 15

In [3]:
# 2. Write a Python program to find the maximum and minimum elements in a list.

list1 = [1, 2, 3, 4, 5]
print('Maximum no:',max(list1))
print('Minimum no:',min(list1))

Maximum no: 5
Minimum no: 1

In [5]:
# 3. Write a Python program to remove duplicates from a list.

list1 = [1, 2, 3, 2, 4, 1, 5]
print('Original list:',list1)
list2 = list(set(list1))
print('New list after dublicates are removed:',list2)

Original list: [1, 2, 3, 2, 4, 1, 5]
New list after dublicates are removed: [1, 2, 3, 4, 5]

In [7]:
# 4. Write a Python program to check if a list is sorted in ascending order.

def list_sort(x):
  # Iterate through the list and check if each element is less than or equal to its successor.
  for i in range(len(x)-1):
    if x[i] > x[i + 1]:
      return False
  return True

# Example usage
ascending_list = [1, 2, 3, 4, 5]
print('Is the list sorted in ascending order:',list_sort(ascending_list))

non_ascending_list = [5, 3, 2, 1]
print('Is the list sorted in ascending order:',list_sort(non_ascending_list))

Is the list sorted in ascending order: True
Is the list sorted in ascending order: False

In [12]:
# 5. Write a Python program to find the second largest element in a list.

list1 = [5, 2, 8, 1, 3, 7]
print("List:", list1)
list2 = set(list1)
list2.remove(max(list2))
print('Second largest element:',max(list2))

List: [5, 2, 8, 1, 3, 7]
Second largest element: 7

In [14]:
# 6. Write a Python program to sort a list of strings in alphabetical order.

sample_strings = ["apple", "banana", "cherry", "date", "banana", "apple"]
print("Original list of strings:", sample_strings)
list2 = sorted(sample_strings)
print('Sorted list in ascending order:',list2)

Original list of strings: ['apple', 'banana', 'cherry', 'date', 'banana', 'apple']
Sorted list in ascending order: ['apple', 'apple', 'banana', 'banana', 'cherry', 'date']

In [16]:
# 7. Write a Python program to find the common elements between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("List 1:", list1)
print("List 2:", list2)
set1 = set(list1)
set2 = set(list2)
common = set1.intersection(set2)
print('Common elementis:',list(common))

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Common elementis: [3, 4, 5]

In [17]:
# 8. Write a Python program to remove the nth occurrence of an element from a list.

def remove_nth_occurrence(lst,element,n):
  count = 0
  index_to_remove = None

  # Iterate through the list to find the nth occurrence of the element
  for i in range(len(lst)):
    if lst[i] == element:
      count += 1

      if count == n:
        index_to_remove = i
        break

  # If nth occurrence is found, remove the element at the found index
  if index_to_remove is not None:
    del lst[index_to_remove]
    return True
  else:
    return False


sample_list = [1, 2, 3, 2, 4, 2, 5]
print("Original list:", sample_list)
element_to_remove = 2
nth_occurrence = 2

if remove_nth_occurrence(sample_list, element_to_remove, nth_occurrence):

    print(f"List after removing {nth_occurrence} occurrence(s) of {element_to_remove}: {sample_list}")
else:
    print(f"Element {element_to_remove} does not appear {nth_occurrence} times in the list.")

Original list: [1, 2, 3, 2, 4, 2, 5]
List after removing 2 occurrence(s) of 2: [1, 2, 3, 4, 2, 5]

In [18]:
# 9. Write a Python program to find the difference between two lists.

list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
print("List 1:", list1)
print("List 2:", list2)
set1 = set(list1)
set2 = set(list2)
difference1 = list(set1.difference(set2))
difference2 = list(set2.difference(set1))
print("Elements in List 1 but not in List 2:", difference1)
print("Elements in List 2 but not in List 1:", difference2)

List 1: [1, 2, 3, 4, 5]
List 2: [3, 4, 5, 6, 7]
Elements in List 1 but not in List 2: [1, 2]
Elements in List 2 but not in List 1: [6, 7]

In [19]:
# 10. Write a Python program to remove the elements of a list that are divisible by 3.
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
list2 = [i for i in list1 if (i % 3 != 0)]
list2

[1, 2, 4, 5, 7, 8]