In [1]:
# 1: Reverse a list in Python

list1 = [100, 200, 300, 400, 500]
list1[::-1]

[500, 400, 300, 200, 100]

In [3]:
#  2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
list3 = [i+j for i, j in zip(list1,list2)]
print(list3)

['My', 'name', 'is', 'Kelly']

In [8]:
# 3: Turn every item of a list into its square

numbers = [1, 2, 3, 4, 5, 6, 7]
list2 = [i*i for i in numbers ]
print(list2)

[1, 4, 9, 16, 25, 36, 49]

In [11]:
# 4: Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

res = [ x+y for x in list1 for y in list2]
res

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [16]:
# 5: Iterate both lists simultaneously
# display items from list1 in original order and items from list2 in reverse order.

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

print('list1',list1)
print('list2:',list2)
for x, y in zip(list1,list2[::-1]):
  print(x,y)

list1 [10, 20, 30, 40]
list2: [100, 200, 300, 400]
10 400
20 300
30 200
40 100

In [1]:
# 6: Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list(filter(None,list1))

['Mike', 'Emma', 'Kelly', 'Brad']

In [4]:
# 7:add item 7000 after 6000 in the following Python List.

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
# list1.insert([2][2][1],7000)
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [5]:
# 8: Extend nested list by adding the sublist
# You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"]

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
list2 = ["h", "i", "j"]

list1[2][1][2].extend(list2)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [9]:
# 9:find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]
list1.index(20)
list1[3] = 200
list1

[5, 10, 15, 200, 25, 50, 20]

In [12]:
# 10.write a program to remove all occurrences of item 20.

def remove_item(sample_list,val):
  return [i for i in sample_list if i != val]

list1 = [5, 20, 15, 20, 25, 50, 20]
res = remove_item(list1,20)
res

[5, 15, 25, 50]

In [13]:
list1 = [5, 20, 15, 20, 25, 50, 20]
while 20 in list1:
  list1.remove(20)
list1

[5, 15, 25, 50]