* while loop useful where you don't know the number of times loop will work.
* For loop useful where you already know the number of times it will woks

In [9]:
# range function
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
list(range(1,11,2))  # step by 2

[1, 3, 5, 7, 9]

In [11]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
# Sequence - Order
'Kolkata'

'Kolkata'

In [13]:
['kolkata','delhi','mumbai']

['kolkata', 'delhi', 'mumbai']

In [15]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [16]:
for i in 'Kolkata':
  print(i)

K
o
l
k
a
t
a

In [17]:
for i in [1,2,3,5]:
  print(i)

1
2
3
5

In [18]:
for i in {1,2,3,4}:
  print(i)

1
2
3
4

**Nested Loop**

In [19]:
rows = int(input('Enter no. of rows:'))

for i in range(1,rows+1):
  for j in range(0,i):
    print('*', end=' ')
  print('')

Enter no. of rows:5
*
* *
* * *
* * * *
* * * * *

**Break statement** - to terminate loop at specific condition.
* useful in linear searching. to decrease run time.

In [20]:
for i in range(1,11):
  if i == 5:
    break
  print(i)

1
2
3
4

**Continue statement:** - skip particular item

In [21]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10