In [ ]:
# 1.Print First 10 natural numbers using while loop.

i = 1
while i<=10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2: Print the following pattern
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''

for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=' ')
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
# 3: Calculate the sum of all numbers from 1 to a given number

n = int(input('enter number:'))
sum = 0
for i in range (1,n+1):
  sum += i
print('sum:',sum)

enter number:10
sum: 55

In [ ]:
# 4: Write a program to print multiplication table of a given number

num = 2
p = 1
for i in range (1,11):
  p = num * i
  print(p)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# 5: Display numbers from a list using loop
'''The number must be divisible by five
   If the number is greater than 150, then skip it and move to the next number
   If the number is greater than 500, then stop the loop
'''

numbers = [12, 75, 150, 180, 145, 525, 50]

for i in range(len(numbers)):
  if i>500:
    break
  elif i>150:
    continue
  elif (i%5 == 0):
    print(i)

0
5

In [1]:
# 6: Count the total number of digits in a number.

num = 75869
count = 0
while num != 0:
  num = num // 10
  count += 1
print(count)

5

In [8]:
# 7: Print the following pattern
'''
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
'''
n = 5
k = 5
for i in range(0,n+1):
  for j in range(k-i,0,-1):
    print(j,end = ' ')
  print('\n')

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [14]:
# 8: Print list in reverse order using a loop

list1 = [10, 20, 30, 40, 50]
len(list1)
for i in range(len(list1),0,-1):
  print(list1[i-1])

50
40
30
20
10

In [15]:
list1 = [10, 20, 30, 40, 50]
list2 = reversed(list1)
for i in list2:
  print(i)

50
40
30
20
10

In [19]:
# 9: Display numbers from -10 to -1 using for loop
for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [21]:
# 10: Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
  print(i)
else:
  print('Done!')

0
1
2
3
4
Done!

In [22]:
# 11: Write a program to display all prime numbers within a range
print('All prime numbers between 25 and 50 are : ')
for i in range(25,51):
  if i > 1:
    for j in range(2,i):
      if (i % j == 0):
        break
    else :
      print(i)

All prime numbers between 25 and 50 are :
29
31
37
41
43
47

In [27]:
# 12: Display Fibonacci series up to 10 terms
# The next number is found by adding up the two numbers before it.

num1, num2 = 0,1

for i in range(10):
  print(num1,end = ' ')
  res = num1 + num2
  num1 = num2
  num2 = res

0 1 1 2 3 5 8 13 21 34

In [28]:
# 13: Find the factorial of a given number

num = 5
factorial = 1
if num < 0 :
  print('Factorial does not exist for given number ')
elif num == 0:
  print('Factorial for 0 is 1.')
else:
  for i in range(1,num+1):
    factorial *= i
print(factorial)

120

In [33]:
# 14: Reverse a given integer number

n = 76542
reverse_num = 0
while n > 0:
  reminder = n % 10
  reverse_num = (reverse_num * 10) + reminder
  n = n // 10
print(reverse_num)

24567

In [34]:
#15: Use a loop to display elements from a given list present at odd index positions

my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(my_list[1::2])

[20, 40, 60, 80, 100]

In [35]:
# 16: Calculate the cube of all numbers from 1 to a given number

for i in range(1,7):
  c = i * i * i
  print('Cube of',i,'is:',c)

Cube of 1 is: 1
Cube of 2 is: 8
Cube of 3 is: 27
Cube of 4 is: 64
Cube of 5 is: 125
Cube of 6 is: 216

In [40]:
# 17: Find the sum of the series upto n terms.
# For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

n = 5
start = 2
sum = 0
for i in range(0,n):
  print(start, end = '+')
  sum += start
  start = start * 10 + 2
print('\nsum of above series:',sum)

2+22+222+2222+22222+
sum of above series: 24690

In [54]:
# 18: Print the following pattern
'''
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
'''
for i in range (5):
  for j in range(i+1):
    print('*',end = ' ')
  print('\n')
for i in range(5,0,-1):
  for j in range(0,i-1):
    print('*',end=' ')
  print('\n')

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*