In [4]:
for i in range(1,6):
  for j in range(1,i+1):
    print('*',end=' ')
  print('\n')

*

* *

* * *

* * * *

* * * * *

In [7]:
for i in range(1,6):
  print('* '*i, end = '\n')

*
* *
* * *
* * * *
* * * * *

In [10]:
for i in range(5):
  for j in range(i+1):
    print(j+1, end = ' ')
  print('\n')

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [11]:
n = 1
for i in range(5):
  for j in range(i+1):
    print(n, end = ' ')
    n+=1
  print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [15]:
for i in range(5):
  k = ord('A')+i
  for j in range(i+1):
    print(chr(k),end = ' ')
  print()

A
B B
C C C
D D D D
E E E E E

In [17]:
k = 65
for i in range(5):
  for j in range(i+1):
    print(chr(k),end = ' ')
    k+=1
  print()

A
B C
D E F
G H I J
K L M N O

In [18]:
for i in range(5):
  for j in range(i+1):
    print('k',end = ' ')
  print()

k
k k
k k k
k k k k
k k k k k

In [20]:
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(64+j),end = ' ')
  print()

A
A B
A B C
A B C D
A B C D E

In [22]:
string = 'python'
for i in range(6):
  for j in range(i+1):
    print(string[0+j],end = ' ')
  print()

p
p y
p y t
p y t h
p y t h o
p y t h o n

In [24]:
n = 1
for i in range(5,0,-1):
  for j in range(i):
    print(n, end = ' ')
  n += 1
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [26]:
p = 6
for i in range(6,0,-1):
  for j in range(i):
    print(p, end = ' ')
  p -= 1
  print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
p = 0
for i in range(5,0,-1):
  for j in range(i+1):
    print(p+j, end = ' ')
  print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [29]:
k = 1
for i in range(3):
  for j in range(0,i+i+1):
    print(k, end = ' ')
    k += 1
  print()

1
2 3 4
5 6 7 8 9

In [31]:
for i in range(6,0,-1):
  for j in range(i):
    print(i, end = ' ')
    i -= 1
  print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [32]:
k = 1
for i in range(5):
  for j in range(i+1):
    print(k, end = ' ')
  k+=2
  print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [34]:
for i in range(5):
  for j in range(i+1):
    print(j+1,end = ' ')

  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [35]:
for i in range(1,6):
  for j in range(1,6):
    print(j, end = ' ')
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [36]:
for i in range(1,8):
  for j in range(1,i+1):
    print(i*j, end = ' ')
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [41]:
k =  64
for i in range(1,6):
  for j in range(1,i+1):
    print(chr(k+1), end = ' ')
    k += 1
  print()

A
B C
D E F
G H I J
K L M N O

In [42]:
for i in range(7,0,-1):
  for j in range(i*2):
    print('*',end = ' ')
  print()

* * * * * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * *
* * * * * * * *
* * * * * *
* * * *
* *

In [44]:
for i in range(0,7):
  for j in range(i+1):
    print('*', end = ' ')
  print()
for i in range(7,0,-1):
  for j in range(i):
    print('*', end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [45]:
for i in range(0,6):
  for j in range(i+1):
    print('*', end = ' ')
  print()
for i in range(6,0,-1):
  for j in range(i):
    print('*', end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*