In [1]:
# 1. Write a Python program to find the union of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)
print("Set 2:", set2)
set1.union(set2)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}

{1, 2, 3, 4, 5}

In [2]:
# 2. Write a Python program to find the intersection of two sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print("Set 1:", set1)
print("Set 2:", set2)
set1.intersection(set2)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}

{3}

In [3]:
# 3. Write a Python program to check if a set is a subset of another set.
set1 = {1, 2}
set2 = {1, 2, 3, 4}
print("Set 1:", set1)
print("Set 2:", set2)
set1.issubset(set2)

Set 1: {1, 2}
Set 2: {1, 2, 3, 4}

True

In [4]:
# 4. Write a Python program to remove duplicate elements from a set.
# Create a set with duplicate elements
my_set = {1, 2, 3, 3, 4, 4, 5}

# Print the set (automatically removes duplicates)
print("Original set:", my_set)

Original set: {1, 2, 3, 4, 5}

In [11]:
# 5. Write a Python program to add an element to a set.
def add(my_set,element):
  return my_set.add(element)

my_set = {1, 2, 3}
print("Original set:", my_set)
element = 5
add(my_set,element)
print('Set after adding element:',my_set)

Original set: {1, 2, 3}
Set after adding element: {1, 2, 3, 5}

In [13]:
# 6. Write a Python program to remove an element from a set.
def e_remove(my_set,remove):
  return my_set.discard(remove)
my_set = {1, 2, 3, 4}
print("Original set:", my_set)
remove = 3
e_remove(my_set,remove)
print('Set after removing element:',my_set)

Original set: {1, 2, 3, 4}
Set after removing element: {1, 2, 4}

In [14]:
# 7. Write a Python program to find the difference between two sets.

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Set 1:", set1)
print("Set 2:", set2)
set1.difference(set2)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}

{1, 2}

In [15]:
# 8. Write a Python program to check if two sets are disjoint.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print("Set 1:", set1)
print("Set 2:", set2)
set1.isdisjoint(set2)

Set 1: {1, 2, 3}
Set 2: {4, 5, 6}

True

In [16]:
# 9. Write a Python program to find the symmetric difference between two sets.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print("Set 1:", set1)
print("Set 2:", set2)
set1.symmetric_difference(set2)

Set 1: {1, 2, 3, 4}
Set 2: {3, 4, 5, 6}

{1, 2, 5, 6}

In [19]:
# 10. Write a Python program to check if a set is empty.

def is_set_empty(set):
    return len(set) == 0

# Example usage
empty_set = set()
non_empty_set = {1, 2, 3}

print("Is the set empty? :", is_set_empty(empty_set))  # True
print("Is the non-empty set empty? :", is_set_empty(non_empty_set))  # False

Is the set empty? : True
Is the non-empty set empty? : False