In [2]:
# 1A: Create a string made of the first, middle and last character.
str1 = "James"
print('original string:',str1)
res = str1[0]
l = len(str1)
x = int(l/2)
res = res + str1[x]
res = res + str1[l-1]

print(res)

original string: James
Jms

In [4]:
# 1B: Create a string made of the middle three characters
def get_middle(x):
  l = int(len(x)/2)
  print(x[l-1:l+2])

get_middle("JhonDipPeta")
get_middle("JaSonAy")

Dip
Son

In [6]:
# 2: Append new string in the middle of a given string
s1 = "Ault"
s2 = "Kelly"
x = int(len(s1)/2)
y = s1[0:x]
y = y + s2
y = y + s1[x:]
print(y)

AuKellylt

In [8]:
#  3: Create a new string made of the first, middle, and last characters of each input string
s1 = "America"
s2 = "Japan"

l1 = int(len(s1)/2)
l2 = int(len(s2)/2)
x = s1[0]+s2[0]+s1[l1]+s2[l2]+s1[-1]+s2[-1]
print(x)

AJrpan

In [16]:
# 4: Arrange string characters such that lowercase letters should come first
str1 = 'PyNaTive'
lower = []
upper = []
for i in str1:
    if i.islower():
      lower.append(i)
    else :
      upper.append(i)
fin = ''.join(lower + upper)
print(fin)

yaivePNT

In [17]:
# 5: Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
d = 0
l = 0
sym = 0
for i in str1:
  if i.isdigit():
    d+=1
  elif i.isalpha():
    l+=1
  else:
    sym+=1
print('digit:',d)
print('letters:',l)
print('symbols:',sym)

digit: 3
letters: 8
symbols: 4

In [4]:
# 6: Create a mixed String using the following rules

s1 = "Abc"
s2 = "Xyz"
s1_length = len(s1)
s2_length = len(s2)
result = ""
length = s1_length if s1_length > s2_length else s2_length
s2 = s2[::-1]

for i in range(length):
  if i < s1_length:
    print(s1[i],end = '')
  if i < s2_length:
    print(s2[i], end = '')

AzbycX

In [10]:
# 7: String characters balance Test
# strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.
def check_balance(s1,s2):
  flag = True
  for char in s1:
    if char in s2:
      continue
    else:
      flag = False
  return flag

s1 = "Yn"
s2 = "PYnative"
flag = check_balance(s1,s2)
print('s1 & s2 are balance:',flag)

s1 = "Ynf"
s2 = "PYnative"
flag = check_balance(s1, s2)
print("s1 and s2 are balance:", flag)

s1 & s2 are balance: True
s1 and s2 are balance: False

In [13]:
# 8: Find all occurrences of a substring in a given string by ignoring the case

str1 = "Welcome to USA. usa awesome, isn't it?"
word = 'USA'
str2 = str1.lower()
print('Count of USA in str1 is ',str2.count(word.lower()))

Count of USA in str1 is  2

In [16]:
# 9: Calculate the sum and average of the digits present in a string

str1 = "PYnative29@#8496"
digit = 0
count = 0
for i in str1:
  if i.isdigit():
    digit += int(i)
    count += 1

avg = digit / count

print('Sum is:',digit,'average is:',avg)

Sum is: 38 average is: 6.333333333333333

In [18]:
# 10: Write a program to count occurrences of all characters within a string

str1 = "Apple"
char_dict = dict()

for i in str1:
  char = str1.count(i)
  char_dict[i]=char
char_dict

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [19]:
# 11: Reverse a given string

str1 = "PYnative"
str1[::-1]

'evitanYP'

In [21]:
# 12: Find the last position of a given substring
# find the last position of a substring “Emma” in a given string.
str1 = "Emma is a data scientist who knows Python. Emma works at google."
str1.rfind('Emma')

43

In [23]:
# 13: Split a string on hyphens
str1 = 'Emma-is-a-data-scientist'
s = str1.split('-')
for i in s:
  print(i)

Emma
is
a
data
scientist

In [27]:
# 14: Remove empty strings from a list of strings

str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
new_str = list(filter(None,str_list))
new_str

['Emma', 'Jon', 'Kelly', 'Eric']

In [28]:
# 15: Remove special symbols / punctuation from a string
str1 = "/*Jon is @developer & musician"
l = str1.strip('/*@')
l

'Jon is @developer & musician'

In [31]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is :", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is :", new_str)

Original string is : /*Jon is @developer & musician
New string is : Jon is developer  musician

In [36]:
# 16: Removal all characters from a string except integers

str1 = 'I am 25 years and 10 months old'

d = ''.join(i for i in str1 if i.isdigit())

d

'2510'

In [41]:
# 17: Find words with both alphabets and numbers
str1 = "Emma25 is Data scientist50 and AI Expert"
res = []
l = str1.split()

for i in l:
  if any(char.isalpha() for char in i) and any(char.isdigit() for char in i):
    res.append(i)

for j in res:
  print(j)

Emma25
scientist50

In [42]:
# 18: Replace each special symbol with # in the following string
str1 = '/*Jon is @developer & musician!!'
import string

str1 = '/*Jon is @developer & musician!!'
print("The original string is : ", str1)

# Replace punctuations with #
replace_char = '#'

# string.punctuation to get the list of all special symbols
for char in string.punctuation:
    str1 = str1.replace(char, replace_char)

print("The strings after replacement : ", str1)

The original string is :  /*Jon is @developer & musician!!
The strings after replacement :  ##Jon is #developer # musician##