In [1]:
# 1. Write a Python program to find the length of a tuple.
t1 = (10,2,40,5,8,9)
print(len(t1))

6

In [2]:
# 2. Write a Python program to concatenate two tuples.

t1 = (1,2,3,4,5)
t2 = (6,7,8,9,10)
t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [3]:
# 3. Write a Python program to convert a tuple to a list.
t1 = (5,8,9,7)
print(list(t1))

[5, 8, 9, 7]

In [4]:
# 4. Write a Python program to find the index of an element in a tuple.

t1 = ('sneha',10,'tuple',5,7,10.5)
t1.index(10.5)

5

In [6]:
# 5. Write a Python program to check if an element exists in a tuple.

t1 = ('sneha',10,'tuple',5,7,10.5)
cond = lambda n: 7 in t1
print(cond(t1))

True

In [7]:
# 6. Write a Python program to count the number of occurrences of an element in a tuple.
t2 = (6,66,74,55,6,2,6)
t2.count(6)

3

In [9]:
# 7. Write a Python program to find the maximum and minimum elements in a tuple.
t3 = (55,1000,1034,500,80,6,2000)
print('Maximum number:',max(t3))
print('Minimum number:',min(t3))

Maximum number: 2000
Minimum number: 6

In [10]:
# 8. Write a Python program to reverse a tuple.
t4 = ('code','pune','mumbai','oros')
print(t4[::-1])

('oros', 'mumbai', 'pune', 'code')

In [11]:
# 9. Write a Python program to check if all elements in a tuple are the same.

def same(x):
  first_element = x[0]
  for i in x[1:]:
    if i != first_element:
      return False
  return True
tuple1 = (1, 1, 1, 1)
print("Tuple 1:", tuple1)
print("All elements in Tuple 1 are the same:", same(tuple1))
tuple2 = (1, 2, 3, 4)
print("Tuple 2:", tuple2)
print("All elements in Tuple 2 are the same:", same(tuple2))

Tuple 1: (1, 1, 1, 1)
All elements in Tuple 1 are the same: True
Tuple 2: (1, 2, 3, 4)
All elements in Tuple 2 are the same: False

In [12]:
# 10. Write a Python program to create a new tuple with the elements from two existing tuples.


tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
tuple3 = tuple1 + tuple2
print(tuple3)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
(1, 2, 3, 4, 5, 6)